<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Post</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-card>
		<!-- <img *ngIf="!!post.image" src="{{post.image}}"/> -->
		<ion-item>
			<ion-avatar item-start>
				<!-- <img src="img/marty-avatar.png"> -->
				<ion-icon name="contact"></ion-icon>
			</ion-avatar>
			<h2>Marty McFly</h2>
			<p>November 5, 1955</p>
			<ion-avatar item-end>
				<ion-icon name="md-medal" color="secondary"></ion-icon>
			</ion-avatar>
		</ion-item>
		<ion-card-content>
			<h2 class="card-title"><strong>{{post.question}}</strong></h2>
			<!--<p><strong>{{post.author}}</strong> - {{post.date}}</p>
			<p><i>[{{post.tags.join(', ')}}]</i></p> -->
		</ion-card-content>
		<ion-row>
			<ion-col>
				<ion-buttons end>
					<button end ion-button icon-left clear small (click)="answerQuestion()">
						<ion-icon name="md-create"></ion-icon>
						<div>&nbsp;Answer</div>
					</button>
				</ion-buttons>
			</ion-col>
		</ion-row>

	</ion-card>

	<ion-card *ngFor="let answer of answers">
			<ion-row>
				<ion-col col-12 padding>
					<p>{{answer.answer}}</p>
				</ion-col>
	

			<ion-col>
				<button ion-button icon-left clear small (click)="upvoteClicked(answer)">
					<ion-icon name="thumbs-up"></ion-icon>
					<div [innerHTML]="answer.upvote"></div>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button icon-left clear small  (click)="downvoteClicked(answer)">
					<ion-icon name="thumbs-down"></ion-icon>
					<div [innerHTML]="answer.downvote"></div>
				</button>
			</ion-col>
		</ion-row>
	</ion-card>
</ion-content>